# config to pass GCP load balancer health checks along to the
# /heartbeat endpoint of the LMS and allow lighter weight checks
# on /status/

upstream health-check-backend {
  {% for host in nginx_lms_gunicorn_hosts %}
    server {{ host }}:{{ edxapp_lms_gunicorn_port }} fail_timeout=0;
  {% endfor %}
}


server {
  listen {{ EDXAPP_LMS_NGINX_PORT }};
  listen {{ EDXAPP_LMS_SSL_NGINX_PORT }} ssl;
  server_name gcp-health-check;

  # This should be the wildcard cert. technically not a match
  # for the `gcp-health-check` hostname, but the GCP health
  # checker doesn't care if certs match, are self-signed, or
  # even expired. Once we've fully switched to the HTTPS LB
  # we will replace this with self-signed certs.
  ssl_certificate {{ NGINX_SSL_CERTIFICATE_PATH }};
  ssl_certificate_key {{ NGINX_SSL_KEY_PATH }};

  # useful as a lightweight liveness check
  location '/status/' {
    return 200 'ok';
  }

  # heavier weight readiness check
  location '/heartbeat' {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://health-check-backend;
  }
}
