[Unit]
Description=edX xAPI Bridge Service
After=network.target
Documentation=https://github.com/adlnet-archive/edx-xapi-bridge

[Service]
User=xapi
ExecStart=/edx/app/xapi/venvs/xapi/bin/python /edx/app/xapi/edx-xapi-bridge/xapi_bridge /edx/var/log/tracking/tracking.log
Restart=always

# Setting Restart interval to be 3 seconds
# because systemd stops restarting if the service fails to restart
# more than 5 times within a period of 10 seconds.
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#StartLimitIntervalSec=
RestartSec=3
