"""
gunicorn configuration file: http://docs.gunicorn.org/en/stable/configure.html

{{ ansible_managed }}
"""
import logging
import os
import multiprocessing

preload_app = False
timeout = {{ EDXAPP_CMS_GUNICORN_TIMEOUT }}
bind = "{{ edxapp_cms_gunicorn_host }}:{{ edxapp_cms_gunicorn_port }}"
pythonpath = "{{ edxapp_code_dir }}"

{% if EDXAPP_CMS_MAX_REQ -%}
max_requests = {{ EDXAPP_CMS_MAX_REQ }}
{% endif -%}

{% if EDXAPP_WORKERS %}
workers = {{ EDXAPP_WORKERS.cms }}
{% else %}
workers = (multiprocessing.cpu_count()-1) * {{ worker_core_mult.cms }} + {{ worker_core_mult.cms }}
{% endif %}

{{ common_pre_request }}

{{ common_close_all_caches }}

def post_fork(server, worker):
    close_all_caches()


def post_worker_init(worker):
    try:
        import beeline
    except ImportError:
        # beeline library isn't installed,
        return
    logging.info('beeline initialization in process pid {}'.format(os.getpid()))
    if os.environ.get('HONEYCOMB_WRITEKEY'):
        beeline.init(
            writekey=os.environ['HONEYCOMB_WRITEKEY'],
            dataset=os.environ['HONEYCOMB_DATASET'],
            service_name='cms')

{{ EDXAPP_CMS_GUNICORN_EXTRA_CONF }}
