from .{{ edxapp_settings }} import *

{% if item == 'cms' %}
# cms uses a hashed directory to bust caches
STATIC_ROOT = "{{ staticfiles_tmpdir.stdout }}" + "/" + EDX_PLATFORM_REVISION
{% else %}
STATIC_ROOT = "{{ staticfiles_tmpdir.stdout }}"
{% endif %}
